# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage
playwright-report

# build
dist

# debug
.pnpm-debug.log*

# turbo
.turbo
