.vjscc-modal-no-scrollbar {
  overflow: hidden !important;
}
.vjscc-modal {
  position: fixed;
  z-index: 20220830;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.2);
  .vjscc-modal-no-mask {
    pointer-events: none;
    background-color: none;
  }
  .vjscc-modal-container {
    position: absolute;
    z-index: 20220831;
    color: black;
    background: white;
    padding: 0.5em;
    border-radius: 0.4em;
    box-shadow: 0 0 1em #ccc;
    overflow: hidden;
    max-width: 90%;
    min-width: 16em;
    pointer-events: auto;
  }
  .vjscc-modal-close {
    position: absolute;
    z-index: 20220831;
    top: 1em;
    right: 1em;
    display: flex;
    padding: 0;
    border: 0;
    background-color: transparent;
    font-size: 1.25em;
    cursor: pointer;
    svg {
      fill: #999;
      transition: fill 0.25s ease-in-out;
    }
    &:hover,
    &:active {
      svg {
        fill: #555;
      }
    }
    &:focus-visible {
      outline-color: #999;
      outline-width: 2px;
    }
  }
  .vjscc-modal-header {
    padding: 1em;
    font-size: 1.2em;
    font-weight: bold;
  }
  .vjscc-modal-body {
    padding: 1em;
  }
  .vjscc-modal-footer {
    padding: 1em;
    display: flex;
    justify-content: flex-end;
    gap: 0.4em;
  }
  .btn() {
    font-size: inherit;
    border: none;
    box-sizing: border-box;
    padding: 0.5em 0.8em;
    border-radius: 0.4em;
    cursor: pointer;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
    &:focus-visible {
      outline-color: #999;
      outline-width: 2px;
    }
    &:disabled {
      cursor: not-allowed;
    }
  }
  .vjscc-modal-confirm {
    .btn();
    color: white;
    background-color: #6c6cf5;
    &:not(:disabled):active,
    &:not(:disabled):hover {
      background-color: darken(#6c6cf5, 10%);
    }
    &:disabled {
      background-color: #eee;
      color: #999;
    }
  }
  .vjscc-modal-cancel {
    .btn();
    color: inherit;
    background-color: transparent;
    &:not(:disabled):hover,
    &:not(:disabled):active {
      color: darken(#6c6cf5, 10%);
      background-color: darken(#f0f0fe, 10%);
    }
    &:disabled {
      color: #999;
    }
  }

  &.vjscc-modal-primary {
    .vjscc-modal-container {
      background-color: #f0f0fe;
      color: #6c6cf5;
    }
    .vjscc-modal-close {
      svg {
        fill: darken(#f0f0fe, 15%);
      }
      &:active,
      &:hover {
        svg {
          fill: darken(#f0f0fe, 30%);
        }
      }
    }
    .vjscc-modal-confirm {
      &:disabled {
        background-color: darken(#f0f0fe, 5%);
        color: lighten(#6c6cf5, 15%);
      }
    }
    .vjscc-modal-cancel {
      &:disabled {
        color: lighten(#6c6cf5, 15%);
      }
    }
  }

  &.vjscc-modal-success {
    .vjscc-modal-container {
      background-color: #e1f3d8;
      color: #67c23a;
    }
    .vjscc-modal-close {
      svg {
        fill: darken(#e1f3d8, 25%);
      }
      &:active,
      &:hover {
        svg {
          fill: darken(#e1f3d8, 45%);
        }
      }
    }
    .vjscc-modal-confirm {
      color: white;
      background-color: #67c23a;
      &:not(:disabled):active,
      &:not(:disabled):hover {
        background-color: darken(#67c23a, 10%);
      }
      &:disabled {
        background-color: darken(#e1f3d8, 5%);
        color: lighten(#67c23a, 15%);
      }
    }
    .vjscc-modal-cancel {
      color: inherit;
      background-color: transparent;
      &:not(:disabled):active,
      &:not(:disabled):hover {
        color: darken(#67c23a, 10%);
        background-color: darken(#e1f3d8, 10%);
      }
      &:disabled {
        color: lighten(#67c23a, 15%);
      }
    }
  }

  &.vjscc-modal-warning {
    .vjscc-modal-container {
      background-color: #fdf6ec;
      color: #e6a23c;
    }
    .vjscc-modal-close {
      svg {
        fill: darken(#fdf6ec, 25%);
      }
      &:hover,
      &:active {
        svg {
          fill: darken(#fdf6ec, 45%);
        }
      }
    }
    .vjscc-modal-confirm {
      color: white;
      background-color: #e6a23c;
      &:not(:disabled):active,
      &:not(:disabled):hover {
        background-color: darken(#e6a23c, 10%);
      }
      &:disabled {
        background-color: darken(#fdf6ec, 5%);
        color: lighten(#e6a23c, 10%);
      }
    }
    .vjscc-modal-cancel {
      color: inherit;
      background-color: transparent;
      &:not(:disabled):active,
      &:not(:disabled):hover {
        color: darken(#e6a23c, 10%);
        background-color: darken(#fdf6ec, 10%);
      }
      &:disabled {
        color: lighten(#e6a23c, 10%);
      }
    }
  }

  &.vjscc-modal-danger {
    .vjscc-modal-container {
      background-color: #fef0f0;
      color: #f56c6c;
    }
    .vjscc-modal-close {
      svg {
        fill: darken(#fef0f0, 15%);
      }
      &:hover,
      &:active {
        svg {
          fill: darken(#fef0f0, 30%);
        }
      }
    }
    .vjscc-modal-confirm {
      color: white;
      background-color: #f56c6c;
      &:not(:disabled):active,
      &:not(:disabled):hover {
        background-color: darken(#f56c6c, 10%);
      }
      &:disabled {
        background-color: darken(#fef0f0, 5%);
        color: lighten(#f56c6c, 10%);
      }
    }
    .vjscc-modal-cancel {
      color: inherit;
      background-color: transparent;
      &:not(:disabled):active,
      &:not(:disabled):hover {
        color: darken(#f56c6c, 10%);
        background-color: darken(#fef0f0, 10%);
      }
      &:disabled {
        color: lighten(#f56c6c, 10%);
      }
    }
  }
}
